*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}




.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: aqua;
}



.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
   
   
    
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,aqua,green);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#LOGIN{
    left: 50px;
   
 
    
}
#REGISTRATION{
   
    left: 450px;
    
}
.check-box{
    margin: 30px 10px 30px 0;
}
.span{
    color: blueviolet;
    font-size: 12px;
    bottom: auto;
}